---
export async function getStaticPaths() {
  return [
    { params: { id: 1 } },
    { params: { id: 2 } },
    { params: { id: 3 } },
    { params: { id: 4 } },
    { params: { id: 5 } },
    { params: { id: 6 } },
    { params: { id: 7 } },
    { params: { id: 8 } },
    { params: { id: 9 } },
    { params: { id: 10 } },
    { params: { id: 11 } },
    { params: { id: 12 } },
    { params: { id: 13 } },
    { params: { id: 14 } },
    { params: { id: 15 } },
    { params: { id: 16 } },
    { params: { id: 17 } },
    { params: { id: 18 } },
    { params: { id: 19 } },
    { params: { id: 20 } },
    { params: { id: 21 } },
    { params: { id: 22 } },
    { params: { id: 23 } },
    { params: { id: 24 } },
    { params: { id: 25 } },
    { params: { id: 26 } },
    { params: { id: 27 } },
    { params: { id: 28 } },
    { params: { id: 29 } },
    { params: { id: 30 } },
    { params: { id: 31 } },
    { params: { id: 32 } },
    { params: { id: 33 } },
    { params: { id: 34 } },
    { params: { id: 35 } },
    { params: { id: 36 } },
    { params: { id: 37 } },
    { params: { id: 38 } },
    { params: { id: 39 } },
    { params: { id: 40 } },
    { params: { id: 41 } },
    { params: { id: 42 } },
    { params: { id: 43 } },
    { params: { id: 44 } },
    { params: { id: 45 } },
    { params: { id: 46 } },
    { params: { id: 47 } },
    { params: { id: 48 } },
    { params: { id: 49 } },
    { params: { id: 50 } },
    { params: { id: 51 } },
    { params: { id: 52 } },
    { params: { id: 53 } },
    { params: { id: 54 } },
    { params: { id: 55 } },
    { params: { id: 56 } },
    { params: { id: 57 } },
    { params: { id: 58 } },
    { params: { id: 59 } },
    { params: { id: 60 } },
    { params: { id: 61 } },
    { params: { id: 62 } },
    { params: { id: 63 } },
    { params: { id: 64 } },
    { params: { id: 65 } },
    { params: { id: 66 } },
    { params: { id: 67 } },
    { params: { id: 68 } },
    { params: { id: 69 } },
    { params: { id: 70 } },
    { params: { id: 71 } },
    { params: { id: 72 } },
    { params: { id: 73 } },
    { params: { id: 74 } },
    { params: { id: 75 } },
    { params: { id: 76 } },
    { params: { id: 77 } },
    { params: { id: 78 } },
    { params: { id: 79 } },
    { params: { id: 80 } },
    { params: { id: 81 } },
    { params: { id: 82 } },
    { params: { id: 83 } },
    { params: { id: 84 } },
    { params: { id: 85 } },
    { params: { id: 86 } },
    { params: { id: 87 } },
    { params: { id: 88 } },
    { params: { id: 89 } },
    { params: { id: 90 } },
    { params: { id: 91 } },
    { params: { id: 92 } },
    { params: { id: 93 } },
    { params: { id: 94 } },
    { params: { id: 95 } },
    { params: { id: 96 } },
    { params: { id: 97 } },
    { params: { id: 98 } },
    { params: { id: 99 } },
    { params: { id: 100 } },
    { params: { id: 101 } },
    { params: { id: 102 } },
    { params: { id: 103 } },
    { params: { id: 104 } },
    { params: { id: 105 } },
    { params: { id: 106 } },
    { params: { id: 107 } },
    { params: { id: 108 } },
    { params: { id: 109 } },
    { params: { id: 110 } },
    { params: { id: 111 } },
    { params: { id: 112 } },
    { params: { id: 113 } },
    { params: { id: 114 } },
    { params: { id: 115 } },
    { params: { id: 116 } },
    { params: { id: 117 } },
    { params: { id: 118 } },
    { params: { id: 119 } },
    { params: { id: 120 } },
    { params: { id: 121 } },
    { params: { id: 122 } },
    { params: { id: 123 } },
    { params: { id: 124 } },
    { params: { id: 125 } },
    { params: { id: 126 } },
    { params: { id: 127 } },
    { params: { id: 128 } },
    { params: { id: 129 } },
    { params: { id: 130 } },
    { params: { id: 131 } },
    { params: { id: 132 } },
    { params: { id: 133 } },
    { params: { id: 134 } },
    { params: { id: 135 } },
    { params: { id: 136 } },
    { params: { id: 137 } },
    { params: { id: 138 } },
    { params: { id: 139 } },
    { params: { id: 140 } },
    { params: { id: 141 } },
    { params: { id: 142 } },
    { params: { id: 143 } },
    { params: { id: 144 } },
    { params: { id: 145 } },
    { params: { id: 146 } },
    { params: { id: 147 } },
    { params: { id: 148 } },
    { params: { id: 149 } },
    { params: { id: 150 } },
    { params: { id: 151 } },
    { params: { id: 152 } },
    { params: { id: 153 } },
    { params: { id: 154 } },
    { params: { id: 155 } },
    { params: { id: 156 } },
    { params: { id: 157 } },
    { params: { id: 158 } },
    { params: { id: 159 } },
    { params: { id: 160 } },
    { params: { id: 161 } },
    { params: { id: 162 } },
    { params: { id: 163 } },
    { params: { id: 164 } },
    { params: { id: 165 } },
    { params: { id: 166 } },
    { params: { id: 167 } },
    { params: { id: 168 } },
    { params: { id: 169 } },
    { params: { id: 170 } },
    { params: { id: 171 } },
    { params: { id: 172 } },
    { params: { id: 173 } },
    { params: { id: 174 } },
    { params: { id: 175 } },
    { params: { id: 176 } },
    { params: { id: 177 } },
    { params: { id: 178 } },
    { params: { id: 179 } },
    { params: { id: 180 } },
    { params: { id: 181 } },
    { params: { id: 182 } },
    { params: { id: 183 } },
    { params: { id: 184 } },
    { params: { id: 185 } },
    { params: { id: 186 } },
    { params: { id: 187 } },
    { params: { id: 188 } },
    { params: { id: 189 } },
    { params: { id: 190 } },
    { params: { id: 191 } },
    { params: { id: 192 } },
    { params: { id: 193 } },
    { params: { id: 194 } },
    { params: { id: 195 } },
    { params: { id: 196 } },
    { params: { id: 197 } },
    { params: { id: 198 } },
    { params: { id: 199 } },
    { params: { id: 200 } },
    { params: { id: 201 } },
    { params: { id: 202 } },
    { params: { id: 203 } },
    { params: { id: 204 } },
    { params: { id: 205 } },
    { params: { id: 206 } },
    { params: { id: 207 } },
    { params: { id: 208 } },
    { params: { id: 209 } },
    { params: { id: 210 } },
    { params: { id: 211 } },
    { params: { id: 212 } },
    { params: { id: 213 } },
    { params: { id: 214 } },
    { params: { id: 215 } },
    { params: { id: 216 } },
    { params: { id: 217 } },
    { params: { id: 218 } },
    { params: { id: 219 } },
    { params: { id: 220 } },
    { params: { id: 221 } },
    { params: { id: 222 } },
    { params: { id: 223 } },
    { params: { id: 224 } },
    { params: { id: 225 } },
    { params: { id: 226 } },
    { params: { id: 227 } },
    { params: { id: 228 } },
    { params: { id: 229 } },
    { params: { id: 230 } },
    { params: { id: 231 } },
    { params: { id: 232 } },
    { params: { id: 233 } },
    { params: { id: 234 } },
    { params: { id: 235 } },
    { params: { id: 236 } },
    { params: { id: 237 } },
    { params: { id: 238 } },
    { params: { id: 239 } },
    { params: { id: 240 } },
    { params: { id: 241 } },
    { params: { id: 242 } },
    { params: { id: 243 } },
    { params: { id: 244 } },
    { params: { id: 245 } },
    { params: { id: 246 } },
    { params: { id: 247 } },
    { params: { id: 248 } },
    { params: { id: 249 } },
    { params: { id: 250 } },
    { params: { id: 251 } },
    { params: { id: 252 } },
    { params: { id: 253 } },
    { params: { id: 254 } },
    { params: { id: 255 } },
    { params: { id: 256 } },
    { params: { id: 257 } },
    { params: { id: 258 } },
    { params: { id: 259 } },
    { params: { id: 260 } },
    { params: { id: 261 } },
    { params: { id: 262 } },
    { params: { id: 263 } },
    { params: { id: 264 } },
    { params: { id: 265 } },
    { params: { id: 266 } },
    { params: { id: 267 } },
    { params: { id: 268 } },
    { params: { id: 269 } },
    { params: { id: 270 } },
    { params: { id: 271 } },
    { params: { id: 272 } },
    { params: { id: 273 } },
    { params: { id: 274 } },
    { params: { id: 275 } },
    { params: { id: 276 } },
    { params: { id: 277 } },
    { params: { id: 278 } },
    { params: { id: 279 } },
    { params: { id: 280 } },
    { params: { id: 281 } },
    { params: { id: 282 } },
    { params: { id: 283 } },
    { params: { id: 284 } },
    { params: { id: 285 } },
    { params: { id: 286 } },
    { params: { id: 287 } },
    { params: { id: 288 } },
    { params: { id: 289 } },
    { params: { id: 290 } },
    { params: { id: 291 } },
    { params: { id: 292 } },
    { params: { id: 293 } },
    { params: { id: 294 } },
    { params: { id: 295 } },
    { params: { id: 296 } },
    { params: { id: 297 } },
    { params: { id: 298 } },
    { params: { id: 299 } },
    { params: { id: 300 } },
    { params: { id: 301 } },
    { params: { id: 302 } },
    { params: { id: 303 } },
    { params: { id: 304 } },
    { params: { id: 305 } },
    { params: { id: 306 } },
    { params: { id: 307 } },
    { params: { id: 308 } },
    { params: { id: 309 } },
    { params: { id: 310 } },
    { params: { id: 311 } },
    { params: { id: 312 } },
    { params: { id: 313 } },
    { params: { id: 314 } },
    { params: { id: 315 } },
    { params: { id: 316 } },
    { params: { id: 317 } },
    { params: { id: 318 } },
    { params: { id: 319 } },
    { params: { id: 320 } },
    { params: { id: 321 } },
    { params: { id: 322 } },
    { params: { id: 323 } },
    { params: { id: 324 } },
    { params: { id: 325 } },
    { params: { id: 326 } },
    { params: { id: 327 } },
    { params: { id: 328 } },
    { params: { id: 329 } },
    { params: { id: 330 } },
    { params: { id: 331 } },
    { params: { id: 332 } },
    { params: { id: 333 } },
    { params: { id: 334 } },
    { params: { id: 335 } },
    { params: { id: 336 } },
    { params: { id: 337 } },
    { params: { id: 338 } },
    { params: { id: 339 } },
    { params: { id: 340 } },
    { params: { id: 341 } },
    { params: { id: 342 } },
    { params: { id: 343 } },
    { params: { id: 344 } },
    { params: { id: 345 } },
    { params: { id: 346 } },
    { params: { id: 347 } },
    { params: { id: 348 } },
    { params: { id: 349 } },
    { params: { id: 350 } },
    { params: { id: 351 } },
    { params: { id: 352 } },
    { params: { id: 353 } },
    { params: { id: 354 } },
    { params: { id: 355 } },
    { params: { id: 356 } },
    { params: { id: 357 } },
    { params: { id: 358 } },
    { params: { id: 359 } },
    { params: { id: 360 } },
    { params: { id: 361 } },
    { params: { id: 362 } },
    { params: { id: 363 } },
    { params: { id: 364 } },
    { params: { id: 365 } },
    { params: { id: 366 } },
    { params: { id: 367 } },
    { params: { id: 368 } },
    { params: { id: 369 } },
    { params: { id: 370 } },
    { params: { id: 371 } },
    { params: { id: 372 } },
    { params: { id: 373 } },
    { params: { id: 374 } },
    { params: { id: 375 } },
    { params: { id: 376 } },
    { params: { id: 377 } },
    { params: { id: 378 } },
    { params: { id: 379 } },
    { params: { id: 380 } },
    { params: { id: 381 } },
    { params: { id: 382 } },
    { params: { id: 383 } },
    { params: { id: 384 } },
    { params: { id: 385 } },
    { params: { id: 386 } },
    { params: { id: 387 } },
    { params: { id: 388 } },
    { params: { id: 389 } },
    { params: { id: 390 } },
    { params: { id: 391 } },
    { params: { id: 392 } },
    { params: { id: 393 } },
    { params: { id: 394 } },
    { params: { id: 395 } },
    { params: { id: 396 } },
    { params: { id: 397 } },
    { params: { id: 398 } },
    { params: { id: 399 } },
    { params: { id: 400 } },
    { params: { id: 401 } },
    { params: { id: 402 } },
    { params: { id: 403 } },
    { params: { id: 404 } },
    { params: { id: 405 } },
    { params: { id: 406 } },
    { params: { id: 407 } },
    { params: { id: 408 } },
    { params: { id: 409 } },
    { params: { id: 410 } },
    { params: { id: 411 } },
    { params: { id: 412 } },
    { params: { id: 413 } },
    { params: { id: 414 } },
    { params: { id: 415 } },
    { params: { id: 416 } },
    { params: { id: 417 } },
    { params: { id: 418 } },
    { params: { id: 419 } },
    { params: { id: 420 } },
    { params: { id: 421 } },
    { params: { id: 422 } },
    { params: { id: 423 } },
    { params: { id: 424 } },
    { params: { id: 425 } },
    { params: { id: 426 } },
    { params: { id: 427 } },
    { params: { id: 428 } },
    { params: { id: 429 } },
    { params: { id: 430 } },
    { params: { id: 431 } },
    { params: { id: 432 } },
    { params: { id: 433 } },
    { params: { id: 434 } },
    { params: { id: 435 } },
    { params: { id: 436 } },
    { params: { id: 437 } },
    { params: { id: 438 } },
    { params: { id: 439 } },
    { params: { id: 440 } },
    { params: { id: 441 } },
    { params: { id: 442 } },
    { params: { id: 443 } },
    { params: { id: 444 } },
    { params: { id: 445 } },
    { params: { id: 446 } },
    { params: { id: 447 } },
    { params: { id: 448 } },
    { params: { id: 449 } },
    { params: { id: 450 } },
    { params: { id: 451 } },
    { params: { id: 452 } },
    { params: { id: 453 } },
    { params: { id: 454 } },
    { params: { id: 455 } },
    { params: { id: 456 } },
    { params: { id: 457 } },
    { params: { id: 458 } },
    { params: { id: 459 } },
    { params: { id: 460 } },
    { params: { id: 461 } },
    { params: { id: 462 } },
    { params: { id: 463 } },
    { params: { id: 464 } },
    { params: { id: 465 } },
    { params: { id: 466 } },
    { params: { id: 467 } },
    { params: { id: 468 } },
    { params: { id: 469 } },
    { params: { id: 470 } },
    { params: { id: 471 } },
    { params: { id: 472 } },
    { params: { id: 473 } },
    { params: { id: 474 } },
    { params: { id: 475 } },
    { params: { id: 476 } },
    { params: { id: 477 } },
    { params: { id: 478 } },
    { params: { id: 479 } },
    { params: { id: 480 } },
    { params: { id: 481 } },
    { params: { id: 482 } },
    { params: { id: 483 } },
    { params: { id: 484 } },
    { params: { id: 485 } },
    { params: { id: 486 } },
    { params: { id: 487 } },
    { params: { id: 488 } },
    { params: { id: 489 } },
    { params: { id: 490 } },
    { params: { id: 491 } },
    { params: { id: 492 } },
    { params: { id: 493 } },
    { params: { id: 494 } },
    { params: { id: 495 } },
    { params: { id: 496 } },
    { params: { id: 497 } },
    { params: { id: 498 } },
    { params: { id: 499 } },
    { params: { id: 500 } },
    { params: { id: 501 } },
    { params: { id: 502 } },
    { params: { id: 503 } },
    { params: { id: 504 } },
    { params: { id: 505 } },
    { params: { id: 506 } },
    { params: { id: 507 } },
    { params: { id: 508 } },
    { params: { id: 509 } },
    { params: { id: 510 } },
    { params: { id: 511 } },
    { params: { id: 512 } },
    { params: { id: 513 } },
    { params: { id: 514 } },
    { params: { id: 515 } },
    { params: { id: 516 } },
    { params: { id: 517 } },
    { params: { id: 518 } },
    { params: { id: 519 } },
    { params: { id: 520 } },
    { params: { id: 521 } },
    { params: { id: 522 } },
    { params: { id: 523 } },
    { params: { id: 524 } },
    { params: { id: 525 } },
    { params: { id: 526 } },
    { params: { id: 527 } },
    { params: { id: 528 } },
    { params: { id: 529 } },
    { params: { id: 530 } },
    { params: { id: 531 } },
    { params: { id: 532 } },
    { params: { id: 533 } },
    { params: { id: 534 } },
    { params: { id: 535 } },
    { params: { id: 536 } },
    { params: { id: 537 } },
    { params: { id: 538 } },
    { params: { id: 539 } },
    { params: { id: 540 } },
    { params: { id: 541 } },
    { params: { id: 542 } },
    { params: { id: 543 } },
    { params: { id: 544 } },
    { params: { id: 545 } },
    { params: { id: 546 } },
    { params: { id: 547 } },
    { params: { id: 548 } },
    { params: { id: 549 } },
    { params: { id: 550 } },
    { params: { id: 551 } },
    { params: { id: 552 } },
    { params: { id: 553 } },
    { params: { id: 554 } },
    { params: { id: 555 } },
    { params: { id: 556 } },
    { params: { id: 557 } },
    { params: { id: 558 } },
    { params: { id: 559 } },
    { params: { id: 560 } },
    { params: { id: 561 } },
    { params: { id: 562 } },
    { params: { id: 563 } },
    { params: { id: 564 } },
    { params: { id: 565 } },
    { params: { id: 566 } },
    { params: { id: 567 } },
    { params: { id: 568 } },
    { params: { id: 569 } },
    { params: { id: 570 } },
    { params: { id: 571 } },
    { params: { id: 572 } },
    { params: { id: 573 } },
    { params: { id: 574 } },
    { params: { id: 575 } },
    { params: { id: 576 } },
    { params: { id: 577 } },
    { params: { id: 578 } },
    { params: { id: 579 } },
    { params: { id: 580 } },
    { params: { id: 581 } },
    { params: { id: 582 } },
    { params: { id: 583 } },
    { params: { id: 584 } },
    { params: { id: 585 } },
    { params: { id: 586 } },
    { params: { id: 587 } },
    { params: { id: 588 } },
    { params: { id: 589 } },
    { params: { id: 590 } },
    { params: { id: 591 } },
    { params: { id: 592 } },
    { params: { id: 593 } },
    { params: { id: 594 } },
    { params: { id: 595 } },
    { params: { id: 596 } },
    { params: { id: 597 } },
    { params: { id: 598 } },
    { params: { id: 599 } },
    { params: { id: 600 } },
    { params: { id: 601 } },
    { params: { id: 602 } },
    { params: { id: 603 } },
    { params: { id: 604 } },
    { params: { id: 605 } },
    { params: { id: 606 } },
    { params: { id: 607 } },
    { params: { id: 608 } },
    { params: { id: 609 } },
    { params: { id: 610 } },
    { params: { id: 611 } },
    { params: { id: 612 } },
    { params: { id: 613 } },
    { params: { id: 614 } },
    { params: { id: 615 } },
    { params: { id: 616 } },
    { params: { id: 617 } },
    { params: { id: 618 } },
    { params: { id: 619 } },
    { params: { id: 620 } },
    { params: { id: 621 } },
    { params: { id: 622 } },
    { params: { id: 623 } },
    { params: { id: 624 } },
    { params: { id: 625 } },
    { params: { id: 626 } },
    { params: { id: 627 } },
    { params: { id: 628 } },
    { params: { id: 629 } },
    { params: { id: 630 } },
    { params: { id: 631 } },
    { params: { id: 632 } },
    { params: { id: 633 } },
    { params: { id: 634 } },
    { params: { id: 635 } },
    { params: { id: 636 } },
    { params: { id: 637 } },
    { params: { id: 638 } },
    { params: { id: 639 } },
    { params: { id: 640 } },
    { params: { id: 641 } },
    { params: { id: 642 } },
    { params: { id: 643 } },
    { params: { id: 644 } },
    { params: { id: 645 } },
    { params: { id: 646 } },
    { params: { id: 647 } },
    { params: { id: 648 } },
    { params: { id: 649 } },
    { params: { id: 650 } },
    { params: { id: 651 } },
    { params: { id: 652 } },
    { params: { id: 653 } },
    { params: { id: 654 } },
    { params: { id: 655 } },
    { params: { id: 656 } },
    { params: { id: 657 } },
    { params: { id: 658 } },
    { params: { id: 659 } },
    { params: { id: 660 } },
    { params: { id: 661 } },
    { params: { id: 662 } },
    { params: { id: 663 } },
    { params: { id: 664 } },
    { params: { id: 665 } },
    { params: { id: 666 } },
    { params: { id: 667 } },
    { params: { id: 668 } },
    { params: { id: 669 } },
    { params: { id: 670 } },
    { params: { id: 671 } },
    { params: { id: 672 } },
    { params: { id: 673 } },
    { params: { id: 674 } },
    { params: { id: 675 } },
    { params: { id: 676 } },
    { params: { id: 677 } },
    { params: { id: 678 } },
    { params: { id: 679 } },
    { params: { id: 680 } },
    { params: { id: 681 } },
    { params: { id: 682 } },
    { params: { id: 683 } },
    { params: { id: 684 } },
    { params: { id: 685 } },
    { params: { id: 686 } },
    { params: { id: 687 } },
    { params: { id: 688 } },
    { params: { id: 689 } },
    { params: { id: 690 } },
    { params: { id: 691 } },
    { params: { id: 692 } },
    { params: { id: 693 } },
    { params: { id: 694 } },
    { params: { id: 695 } },
    { params: { id: 696 } },
    { params: { id: 697 } },
    { params: { id: 698 } },
    { params: { id: 699 } },
    { params: { id: 700 } },
    { params: { id: 701 } },
    { params: { id: 702 } },
    { params: { id: 703 } },
    { params: { id: 704 } },
    { params: { id: 705 } },
    { params: { id: 706 } },
    { params: { id: 707 } },
    { params: { id: 708 } },
    { params: { id: 709 } },
    { params: { id: 710 } },
    { params: { id: 711 } },
    { params: { id: 712 } },
    { params: { id: 713 } },
    { params: { id: 714 } },
    { params: { id: 715 } },
    { params: { id: 716 } },
    { params: { id: 717 } },
    { params: { id: 718 } },
    { params: { id: 719 } },
    { params: { id: 720 } },
    { params: { id: 721 } },
    { params: { id: 722 } },
    { params: { id: 723 } },
    { params: { id: 724 } },
    { params: { id: 725 } },
    { params: { id: 726 } },
    { params: { id: 727 } },
    { params: { id: 728 } },
    { params: { id: 729 } },
    { params: { id: 730 } },
    { params: { id: 731 } },
    { params: { id: 732 } },
    { params: { id: 733 } },
    { params: { id: 734 } },
    { params: { id: 735 } },
    { params: { id: 736 } },
    { params: { id: 737 } },
    { params: { id: 738 } },
    { params: { id: 739 } },
    { params: { id: 740 } },
    { params: { id: 741 } },
    { params: { id: 742 } },
    { params: { id: 743 } },
    { params: { id: 744 } },
    { params: { id: 745 } },
    { params: { id: 746 } },
    { params: { id: 747 } },
    { params: { id: 748 } },
    { params: { id: 749 } },
    { params: { id: 750 } },
    { params: { id: 751 } },
    { params: { id: 752 } },
    { params: { id: 753 } },
    { params: { id: 754 } },
    { params: { id: 755 } },
    { params: { id: 756 } },
    { params: { id: 757 } },
    { params: { id: 758 } },
    { params: { id: 759 } },
    { params: { id: 760 } },
    { params: { id: 761 } },
    { params: { id: 762 } },
    { params: { id: 763 } },
    { params: { id: 764 } },
    { params: { id: 765 } },
    { params: { id: 766 } },
    { params: { id: 767 } },
    { params: { id: 768 } },
    { params: { id: 769 } },
    { params: { id: 770 } },
    { params: { id: 771 } },
    { params: { id: 772 } },
    { params: { id: 773 } },
    { params: { id: 774 } },
    { params: { id: 775 } },
    { params: { id: 776 } },
    { params: { id: 777 } },
    { params: { id: 778 } },
    { params: { id: 779 } },
    { params: { id: 780 } },
    { params: { id: 781 } },
    { params: { id: 782 } },
    { params: { id: 783 } },
    { params: { id: 784 } },
    { params: { id: 785 } },
    { params: { id: 786 } },
    { params: { id: 787 } },
    { params: { id: 788 } },
    { params: { id: 789 } },
    { params: { id: 790 } },
    { params: { id: 791 } },
    { params: { id: 792 } },
    { params: { id: 793 } },
    { params: { id: 794 } },
    { params: { id: 795 } },
    { params: { id: 796 } },
    { params: { id: 797 } },
    { params: { id: 798 } },
    { params: { id: 799 } },
    { params: { id: 800 } },
    { params: { id: 801 } },
    { params: { id: 802 } },
    { params: { id: 803 } },
    { params: { id: 804 } },
    { params: { id: 805 } },
    { params: { id: 806 } },
    { params: { id: 807 } },
    { params: { id: 808 } },
    { params: { id: 809 } },
    { params: { id: 810 } },
    { params: { id: 811 } },
    { params: { id: 812 } },
    { params: { id: 813 } },
    { params: { id: 814 } },
    { params: { id: 815 } },
    { params: { id: 816 } },
    { params: { id: 817 } },
    { params: { id: 818 } },
    { params: { id: 819 } },
    { params: { id: 820 } },
    { params: { id: 821 } },
    { params: { id: 822 } },
    { params: { id: 823 } },
    { params: { id: 824 } },
    { params: { id: 825 } },
    { params: { id: 826 } },
  ];
}

const { id } = Astro.params;

const response = await fetch(`https://rickandmortyapi.com/api/character/${id}`);
const data = await response.json();

console.log(data);
---

<h1>algo</h1>

<script>
  //   async function generate() {
  //     const response = await fetch(`https://rickandmortyapi.com/api/character/`);
  //     const data = await response.json();
  //     const characterNumbers = data.info.count;
  //     let arr = [];
  //     for (let index = 1; index <= characterNumbers; index++) {
  //       let result = arr.push({ params: { id: index } });
  //     }
  //     console.log(
  //       arr.forEach((item) => {
  //         item;
  //       })
  //     );
  //   }

  //   generate();
</script>
