---
export interface props {
  id?: number;
  name?;
  status?;
  species?;
  type?;
  gender?;
  image?;
  url?: string;

  origin?;
  location?: object;

  episode?: string[];

  created?: Date;
}
---

<section class="details">
  <div class="details_container">
    <figure class="container_figure">
      <img src="" alt="" class="detail_img" />
    </figure>
  </div>
</section>
