---
export interface props {
    id : number;
    name?, status?,species?,type? , gender?, image : string;


}


const {id, name, status, species, type, gender, image} = Astro.props;

---

<div class="card">
    <figure class="card_fig">
        <img src="" alt="" class="card_img">
    </figure>

    

</div>






